<!-- <app-test></app-test>
<h1>ye to ho gya</h1>
<app-home></app-home> -->


 <!-- project
  <app-project-insurance-application></app-project-insurance-application>   
 <app-project-about></app-project-about> -->
 <app-project-contact></app-project-contact>
 

<!-- <div id="header">
    <h1>lti</h1>
</div>

<div id="nav">
    <ul>
        <li><a [routerLink]="['/homeLink']">Home</a></li>
        <li><a [routerLink]="['loginLink']">Login</a></li>
        <li><a [routerLink]="['clientLink']">client</a></li>
        <li><a [routerLink]="['reactiveLink']">ReactiveForm</a></li>
    </ul>
    
</div>
<div id="main">
    <router-outlet></router-outlet>
   
</div>

<div id="footer">copyright</div> -->